!!! XML
!!!
%html
 %head
  %title Password change
  %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
 %body
  %h1 Password change

  - if @message
   %h2
    = @message

  #form
   %form{ :method => 'POST', :action => '' }
    %table{ :cellpadding => 5 }
     %tr
      %td
       %label{ :for => 'user_id' } Username / email address
      %td
       %input{ :name => 'user_id', :type => 'text', :value => @user_id}
     %tr
      %td
       %label{ :for => 'password_old' } Old password
      %td
       %input{ :name => 'password_old', :type => 'password' }
     %tr
      %td
       %label{ :for => 'password_new_1' } New password
      %td
       %input{ :name => 'password_new_1', :type => 'password' }
     %tr
      %td
       %label{ :for => 'password_new_2' } New password (again)
      %td
       %input{ :name => 'password_new_2', :type => 'password' }

     %tr
      %td{ :colspan => 2 }
       %input{ :value => 'Change', :type => 'submit' }
